header{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/fundo.png);

}

nav{
    height: 92px;
    justify-content: space-between;
    background: #121212;

}

.logo{
    text-transform: uppercase;
}
